
name: Commit Lint

on:
  pull_request:
    branches: [ "main", "develop" ]
  push:
    branches: [ "main", "develop", "release/*", "hotfix/*", "feature/*" ]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Lint commits (Conventional Commits)
        uses: wagoid/commitlint-github-action@v6
